In [1]:
!source .venv/bin/activate

'source' is not recognized as an internal or external command,
operable program or batch file.

In [10]:
import os
import pandas as pd

In [11]:
df = pd.read_excel('./data/final_output_with_images.xlsx')[['id','image_url']].dropna(axis = 0)
df['path'] = df['image_url'].apply(lambda x: x.split('com/')[1])
print(f"Total {df['id'].count()} images. {df['path'].nunique()} of them are unique")

Total 28397 images. 27388 of them are unique

In [ ]:
# Look at the head
df.sort_values(by = 'id', inplace= True)
df.head()

In [15]:
# Remove all duplicate paths
df = df.groupby('path', as_index=False)[df.columns].first()

# Look at the head again to confirm we did not mess anything up
df.sort_values(by = 'id', inplace= True)
df.head()

,id,image_url,path
7365,4222,https://olm-s3.s3.eu-west-1.amazonaws.com/112/...,112/Pftq4550WzgZA5euhgIEsLHGs63tXSHAqCP07WKl.jpeg
7366,4223,https://olm-s3.s3.eu-west-1.amazonaws.com/112/...,112/HKXafwXvrpBQjoWC9aPtSY8lTGcdoZVlPItqNQkK.jpeg
7367,4227,https://olm-s3.s3.eu-west-1.amazonaws.com/112/...,112/69M58FGWNVp1ZTObF0YmkMfGNEz1nUu1B2MSI8Gt.jpeg
7368,4228,https://olm-s3.s3.eu-west-1.amazonaws.com/112/...,112/Da9HiIUxqaxY7WeKi2INrzgTGzLGTvAl5HBhIEfn.jpeg
7369,4229,https://olm-s3.s3.eu-west-1.amazonaws.com/112/...,112/pUY1im8pNbPUAceAv17T5SCvmwK8KIAmVatpCN2o.jpeg

In [ ]:

year = '2018'
month = '08'
day = '08'
filename = 'lSuFzWg1oaDIz0aVdHFY1Jfh5i9gMjnUo79xAkww.jpeg'
command = f'aws s3 cp s3://olm-s3/{year}/{month}/{day}/{filename} s3://olm-pics-s3/{year}/{month}/{day}/{filename}'
os.system(command)