In [ ]:
SELECT 
  brand_id AS brand_id,
  ROUND (SUM(qty)*100.0/(SELECT SUM(qty) FROM brand_image), 5) AS qty_fraction
FROM 
  brand_image
GROUP BY brand_id
ORDER BY qty_fraction DESC